################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VirtualizingWrapPanel-fork/v17
/.vs/VSWorkspaceState.json
